{% extends "base.html" %}
{% load static %}

{% block title %}
<style>

@media (max-width: 576px) {
    .title {
        font-weight: bold;
        margin: 15px;
        font-size: 24px;
    }
        .icon {
            display: none;
        }

         .delete-form {
        display: block;
        }
       
   

}

@media (min-width: 577px) {
    .title {
        font-weight: bold;
        margin: 15px;
        font-size: 32px;
    }
    .icon {
        font-size: 24px;
    }
     .delete-form {
        display: inline;
        }

}
</style>

<span class="title"> قائمة التخصصات </span>
{% endblock title %}
{% block content %}

<div class='card'>
    <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon icon">
            <i class="material-icons">assignment</i>
        </div>
         <div class=" float-right ">
                <a href="{% url "add_specialty" %}" class="btn btn-sm btn-primary btn-round" style="margin-top: -10px;">
                      
                    <i class="material-icons">add</i>
                </a>
            </div>
            
        <h4 class="card-title "> قائمة التخصصات </h4>
    </div>
    <div class="card-body table-full-width table-hover">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead class="">
                    <th class="d-none d-sm-table-cell">
                        ID
                    </th>
                    <th class="text-center">
                        التخصص
                    </th>
                    <th class="text-center">
                         الوصف                    
                    </th>
                    <th class="text-center">
                        الاجراءات
                    </th>
                </thead>
                <tbody>
                    {% for specialty in specialties %}
                    <tr class="">
                        <td class="d-none d-sm-table-cell">
                            {{ specialty.id }}
                        </td>
                        <td class="text-center">
                            {{ specialty.name }}
                        </td>
                        <td class="text-center">
                            {{ specialty.description|default:"لا يوجد" }}
                        </td>
                        <td class="text-center">
                            <a href="{% url 'edit_specialty' specialty.id %}" class="btn btn-sm btn-primary btn-round">
                                <i class="material-icons">edit</i>
                            </a>
                            <form method="POST" id="delete-form" action="{% url 'delete_specialty' specialty.id %}" class="delete-form">
                                {% csrf_token %}
                                <button type="button" class="btn btn-sm btn-danger btn-round"  onclick="confirmDelete()">
                                    <i class="material-icons">delete</i>
                                </button>
                            </form>
                    </tr>
                    {% endfor %}
                   
            
                </tbody>

            </table>
           
        </div>
    </div>
                
</div>

<!-- في ملف roles.html أو القالب الأساسي -->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="alert alert-danger">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}



{% endblock %}